body, * {
    color: #909399;
}
table thead th {
    border-top: 0px !important;
}
.navbar-nav .nav-item a,
.navbar-nav .nav-item {
    color: #707070 !important;
}
.navbar-nav .nav-item.active a,
.navbar-nav .nav-item.active {
    color: #487a97 !important;
    border-bottom: 1px solid #487a97;
}
.btn-primary {
    background-color: #487a97;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: #314850 !important;
    border-color: #fff !important;
    box-shadow:none !important;
}
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #487a97;
}

.btn-outline-secondary:hover {
    border-color: #487a97;
    background-color: #fff;
    color: #487a97;
}
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    background-color: #477996 !important;
    border-color: #487a97 !important;
    color: #487a97 !important;
    box-shadow: none !important;
}
.btn-group .btn {
    border-right: 2px solid #fff;
}
.btn-group .btn:last-child {
    border-right: none;
}
.dropdown-item:active {
    background-color:#487a97;
}
.modal-header {
    border-bottom:0px !important;
}
.modal-footer {
    border-top:0px !important;
}

/*Complemento para Flexbox de Bootstrap*/
.d-flex-1 {
    flex: 1;
}

/*Boton loguot*/
.btn-logout {
    height: 41px;
    width: 41px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #487a97;
    text-decoration: none;
    color: #fff;
}
.btn-logout:hover {
    text-decoration: none;
    background-color: #477996;
}
.btn-logout i{
    color: #fff;
}
/*Aside*/
.aside {
    height: calc(100vh - 61px);
    position: sticky;
    top: 64px;
    border-right: 1px solid #EAEAEA;
}
.aside-content {
    overflow: auto;
    height: 100%;
    width: 100%;
    transition: all .3s;
}
.aside-content ul {
    list-style: none;
    margin: 40px 0px 0px;
    padding: 0;
}
.aside-content ul li {
    padding:20px;
}
.aside-content ul li:hover {
    background-color: #F4F4F5;
    cursor: pointer;
}
.aside-content ul li.selected:hover,
.aside-content ul li.selected {
    background-color: rgba(71, 121, 150, .2);
    color: #487a97;
    font-weight: 700;
    cursor: default;
}
.aside-button {
    position: absolute;
    top: 65px;
    right: -30px;
    height: 50px;
    width: 30px;
    border-radius: 0px 50px 50px 0;
    background-color: #487a97;
    color: #909399;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px rgba(0,0,0,.2);
}
.aside .aside-button i {
    transition: all .4s;
    transform: rotate(0deg);
}
.aside.show .aside-button i {
    transform: rotate(180deg);
}

/*Logout*/
.class-logout {
    display: flex !important;
}
.class-logout-mobile div:last-child {
    display: none !important;
}

/*caja*/
.tab-filter {
    display: block;
    border-right: #909399;
}
.tab-filter .nav-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    background-color: transparent !important;
    color: #909399 !important;
    border-radius: 0px !important;
    text-align: right;
}
.tab-filter .nav-link.active {
    color: #487a97 !important;
    border-right: 2px solid #487a97;
    cursor: default;
}
.tab-filter .nav-link:not(.active):hover {
    opacity: .8;
}
.article-box {
    height: calc(100vh - 200px);
    overflow: auto;
}
.article-item {
    min-width: 180px;
    max-width: 180px;
    width: 180px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    transition: all .4s;
}
.article-item:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;
}
.article-selling {
    height: calc(100vh - 260px);
    overflow: auto;
}
.article-selling-item input[type="number"]{
    height: 100%;
    width: 70px;
    text-align: center;
    border: 0px;
    font-size:1.25rem;
}

/*colors*/
.bg-light-grey {
    background-color: #E9E9EB;
}
.bg-yellow-primary {
    background-color: #487a97;
}

/*ocultar para mobile*/
.hidde-mobile {
    display: inline-block;
}

/*Paginador*/
.page-item .page-link,
.page-item:not(.active) .page-link:hover {
    color: #487a97;
}
.page-item.active .page-link {
    background-color: #487a97;
    border-color: #487a97;
}

/*Media Querys*/
  /*Ipad*/
  @media (max-width: 823px) {
    .aside {
        position: fixed;
        left: 0;
        z-index: 5;
        background-color: #fff;
        width: 0%;
        transition: all .4s;
    }
    .aside:before {
        content: "";
        background-color: rgba(0,0,0,.4);
        position: fixed;
        right: 0px;
        top: 0;
        bottom: 0;
        width: 0%;
        opacity: .0;
        transition: opacity .4s;
    }
    .aside.show {
        width: 35%;
    }
    .aside.show:before {
        width: 65%;
        opacity: 1;
    }
    .aside-button {
        display: flex;
    }
    .aside-content {
        width: 0%;
    }
    .aside.show .aside-content {
        width: 100%;
    }
}
/*Celular*/
@media (max-width: 414px) {
    .class-logout {
        justify-content: flex-end;
        order: 1;
    }
    .class-logout div:first-child {
        display: none !important;
    }
    .class-logout-mobile {
        order: 2;
    }
    .class-logout-mobile div:last-child {
        display: flex !important;
    }
    .class-logout-mobile ul {
        padding: 15px 0px;
    }
    .hidde-mobile {
        display: none;
    }
    .aside {
        position: fixed;
        top: 47px;
        left: 0;
        height: calc(100vh - 47px);
        z-index: 5;
        background-color: #fff;
        width: 0%;
        transition: all .4s;
    }
    .aside:before {
        content: "";
        background-color: rgba(0,0,0,.4);
        position: fixed;
        right: 0px;
        top: 0;
        bottom: 0;
        width: 0%;
        opacity: .0;
        transition: opacity .4s;
    }
    .aside.show {
        width: 85%;
    }
    .aside.show:before {
        width: 15%;
        opacity: 1;
    }
    .aside-button {
        display: flex;
    }
    .aside-content {
        width: 0%;
    }
    .aside.show .aside-content {
        width: 100%;
    }
  }
  /*Login*/
  .login-container {
      height: 100vh;
      background-color: #fff;
  }
  .login-container .container,
  .login-container .d-flex,
  .login-container .row {
    height: 100%;
  }
  .login-container a {
      color: #fff;
  }
  .login-container .btn-outline-primary{
      border-color: #487a97;
      color: #487a97;
      width: 100px;
  }
  .login-container .btn-outline-primary:active,
  .login-container .btn-outline-primary:hover{
    background-color: #487a97 !important;
    border-color: #fff !important;
    color: #fff;
}