<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="crearCliente.php">
        <input type="text" name="nombre" value="fer">
        <input type="text" name="apellido" value="vega">
        <input type="email" name="email" value="fer@fer.com">
        <input type="password" name="contraseña" value="$abad0Libre">
        <button type="submit"></button>
    </form>




</body>
</html>